html,
body {
    min-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}

.normal {
    background-color: white;
    text-align: center;
    color: rgb(0, 0, 0);
}

.imagemP {
    background-color: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.281);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh; /* Garante que cobre toda a altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero {
    padding-bottom: 0;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section p {
    font-weight: 550;
}

#img01 {
    background-image: url('./imagens/portfolio1.jpg');
}

#img02 {
    background-image: url('./imagens/portfolio2.jpg');
    background-position: right center;
}

#img03 {
    background-image: url('./imagens/portfolio3.jpg');
}

#img04 {
    background-image: url('./imagens/portfolio4.jpg');
}
