@charset "utf-8";
:root{
    --cor00: #0d0926d0;
    --cor0: #A68C5d;
    --cor2: #73654cd5;
    --cor1: #0D0926;
    --cor3: #010D00;
    --cor4: #202136; /* Nova cor intermediária */
    --cor5: #00010d;
    --cor2-light: #948471; /* Variante mais clara de cor2 */
    --cor5-dark: #000015;  
    

}

/* 
typical device breakpoints pesquisa
--------------------------
pequenas telas: ate 600px;
celular de 600px ate 700px;
tablet: 768 ate 992;
desktop: 992 ate 1200;
grandes telas: acima de 1200px;
*/

@media screen and (min-width: 768px) {
    #burguer{
        display: none;
    }
    .box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 800px;
        margin: 0 auto;
        position: relative;
        height: 150px;
    }
    .servicos>div.container.servico-container{
        width: 81.2%;
    }
    

   #menu {
    background-color: transparent;
    position: absolute; /* Fixa o menu na tela, garantindo que ele não role junto com a página */
    top: 0; /* O menu começa no topo da página */
    height: 100%; /* O menu ocupa toda a altura da tela */
    
    right: -250px; /* Define o menu inicialmente fora da tela, oculto à direita */
    width: 60%; /* Define a largura do menu quando aberto */
    padding-top: 60px; /* Adiciona um espaçamento no topo para evitar sobreposição */
     /* Define uma cor de fundo semi-transparente para o menu */
    transition: right 0.5s ease-in-out; /* Adiciona um efeito suave ao abrir e fechar o menu */
    z-index: 1000; /* Garante que o menu esteja acima de outros elementos da página */
}

    

#menu ul {
    list-style: none; /* Remove os marcadores de lista padrão */
    padding: 0; /* Remove o espaçamento interno da lista */
    
    flex-direction: row; /* Organiza os itens em coluna, um abaixo do outro */
    align-items: start; /* Alinha os itens à esquerda */
}



#menu ul li a {
    color: white; /* Define a cor do texto dos links como branco */
    text-decoration: none; /* Remove o sublinhado dos links */
    display: block; /* Faz com que os links ocupem toda a largura do item da lista */
}



   
    
    
    
    nav{
        display: block;
        text-align: right;
        position: relative;
    }
    nav li{
        display: inline-block;

    }
    nav a{
        font-size: 20px;
    }
    main{
        width: 768px;
    }
    

     


   

   
}
